<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
</style>

<main class="main">
  <stn-button>Hello</stn-button>
  <stn-date-picker></stn-date-picker>
  <button mat-button (click)="openDatePickerDialog()">Open Date Picker Dialog</button>
  <button mat-button (click)="openModal()">Open Date Picker Modal</button>
  <app-date-picker-modal></app-date-picker-modal>
</main>

<router-outlet />
